@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

span{
    color: navy;
}

.navy{
    color: navy;
}
.bg-navy{
    background-color: navy;
}
.bg-gray{
    background-color: #f2f2f7;
}

.active{
    color: navy;
}

.navbtn{
    padding: 12px 18px;
    background-color: black;
    color: white;
    display: block;
}